# Ignore all files with the .blend1 extension and files named Thumbnail.png
*.blend1
*Thumbnail.png

# Ignore everything in the folder vrcfox unity project (B&C)
vrcfox unity project (B&C)/*

# Exceptions: keep the following folders and files
!vrcfox unity project (B&C)/
!vrcfox unity project (B&C)/Assets/
!vrcfox unity project (B&C)/Assets/**
!vrcfox unity project (B&C)/Packages/
!vrcfox unity project (B&C)/Packages/.gitignore
!vrcfox unity project (B&C)/Packages/manifest.json
!vrcfox unity project (B&C)/Packages/packages-lock.json
!vrcfox unity project (B&C)/Packages/vpm-manifest.json
!vrcfox unity project (B&C)/ProjectSettings/
!vrcfox unity project (B&C)/ProjectSettings/**
!vrcfox unity project (B&C)/.gitignore
!vrcfox unity project (B&C)/.vsconfig
