[submodule "vrcfox blender project (B&C_SV)/scripts/Blender-auto-fbx-export"]
	path = vrcfox blender project (B&C_SV)/scripts/Blender-auto-fbx-export
	url = https://github.com/strakacher21/Blender-auto-fbx-export.git
