*.blend1
/vrcfox unity project (B&C)/Assets/icons/Thumbnail.png
/vrcfox unity project (B&C)/Assets/icons/Thumbnail.png.meta
/vrcfox unity project (B&C)/Packages/com.vrchat.core.vpm-resolver/*
/vrcfox unity project (B&C)/*

!vrcfox unity project (B&C)/.gitignore
!vrcfox unity project (B&C)/Assets/
!vrcfox unity project (B&C)/Assets/**
!vrcfox unity project (B&C)/Packages/
!vrcfox unity project (B&C)/Packages/**
!vrcfox unity project (B&C)/ProjectSettings/
!vrcfox unity project (B&C)/ProjectSettings/**
